<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<title>EasyDefence</title>
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" />
<script>
    const button = document.querySelector("#kt_page_loading_message");

    // Handle toggle click event
    button.addEventListener("click", function() {
      // Populate the page loading element dynamically.
      // Optionally you can skipt this part and place the HTML
      // code in the body element by refer to the above HTML code tab.
      const loadingEl = document.createElement("div");
      document.body.prepend(loadingEl);
      loadingEl.classList.add("page-loader");
      loadingEl.classList.add("flex-column");
      loadingEl.innerHTML = `
          <span class="spinner-border text-primary" role="status"></span>
          <span class="text-muted fs-6 fw-semibold mt-5">Loading...</span>
      `;

      // Show page loading
      KTApp.showPageLoading();

      // Hide after 3 seconds
      setTimeout(function() {
          KTApp.hidePageLoading();
          loadingEl.remove();
      }, 3000);
    });
</script>
</head>
<body style="background-color: #FFFF; height: 100vh;;">
    <div class="container d-flex align-items-center justify-content-center">
        <div class="page-loader flex-column">
            <span class="spinner-border text-primary" role="status"></span>
            <span class="text-muted fs-6 fw-semibold mt-5">Caricamento..</span>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="C:\Users\Alessio\Desktop\Uni Magistrale\EasyDefence\progressScript.js"></script>
</html>