<!DOCTYPE HTML>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>ED - Password Generator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" />
  </head>
  <body style="background-color: #FFFF;">
    <div th:insert="navbar :: navbar"></div>
    <div class="container">
      <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="text-center">
          <h3 class="display-2 fw-italic text-center text-primary">GENERA LA TUA PASSWORD</h3>
          <form th:action="@{/password/generator}" id="pwdGen" method="GET">
            <div class="container-xl">
              <div class="row">
                <div class="row justify-content-md-center">
                <div class="col col-lg-6">
                  <div class="qty">
                    <label for="length" class="form-label">Scegli il numero di caratteri per generare la password</label>
                    <br>
                    <span class="minus bg-primary" id="addTen" th:onclick="increment(1)">+</span>
                        <input  th:if="${generatedPassword==null}" type="number" id="length" name="length" class="count" value="1"  disabled>

                        <input th:if="${generatedPassword !=null}" type="number" id="length" name="length" class="count" th:value="${#strings.length(generatedPassword)}"  disabled>

                    <span class="plus bg-primary" id="minusTen" th:onclick="increment(-1)">-</span>
                  </div>

                  <div class="slidecontainer mt-2" >
                    <input th:if="${generatedPassword == null}" type="range" id="range" min="1" max="30" value="1" name="length" class="slider" onchange="updateTextInput(this.value);"/>
                    <input th:if="${generatedPassword != null}" type="range" id="range" min="1" max="30" th:value="${#strings.length(generatedPassword)}" name="length" class="slider" onchange="updateTextInput(this.value);"/>
                  </div>

                </div>
                </div>
              </div>
                <div class="row" style="height: 200px;">
                  <div class="row align-items-center justify-content-md-center">

                    <div class="col-lg-3">
                      <label for="isNumbers" class="form-label">Numeri </label>
                      <div class="form" style="text-align: center; margin-right: 2%;">

                        <div th:if="${excludeNumbers==null}" >
                          <input class="form-check-input" type="radio" name="isNumbers" id="isNumbers" value="false" >
                          <label class="form-check-label" for="isNumbers"> Si </label>

                          <input class="form-check-input" type="radio" name="isNumbers" id="isNumbers" value="true" checked="checked">
                          <label class="form-check-label" for="isNumbers"> No </label>
                        </div>

                        <div th:if="${excludeNumbers!=null}">
                          <div th:if="${excludeNumbers==false}">
                            <input class="form-check-input" type="radio" name="isNumbers" id="isNumbers" value="false" checked="checked" >
                            <label class="form-check-label" for="isNumbers"> Si </label>

                            <input class="form-check-input" type="radio" name="isNumbers" id="isNumbers" value="true" >
                            <label class="form-check-label" for="isNumbers"> No </label>
                          </div>
                          <div th:if="${excludeNumbers==true}">
                          <input class="form-check-input" type="radio" name="isNumbers" id="isNumbers" value="false"  >
                          <label class="form-check-label" for="isNumbers"> Si </label>

                          <input class="form-check-input" type="radio" name="isNumbers" id="isNumbers" value="true" checked="checked">
                          <label class="form-check-label" for="isNumbers"> No </label>

                        </div >

                      </div>
                      </div>
                    </div>

                    <div class="col-lg-3">
                      <label for="isSymbols" class="form-label">Caratteri speciali</label>
                      <div class="form" style="text-align: center; margin-right: 2%;">
                        <div th:if="${excludeSpecial==null}" >
                          <input class="form-check-input" type="radio" name="isSymbols" id="isSymbols" value="false" >
                          <label class="form-check-label" for="isSymbols"> Si </label>

                          <input class="form-check-input" type="radio" name="isSymbols" id="isSymbols" value="true" checked="checked">
                          <label class="form-check-label" for="isSymbols"> No </label>
                        </div>

                        <div th:if="${excludeSpecial!=null}">
                          <div th:if="${excludeSpecial==false}">
                            <input class="form-check-input" type="radio" name="isSymbols" id="isSymbols" value="false" checked="checked" >
                            <label class="form-check-label" for="isSymbols"> Si </label>

                            <input class="form-check-input" type="radio" name="isSymbols" id="isSymbols" value="true" >
                            <label class="form-check-label" for="isSymbols"> No </label>
                          </div>
                          <div th:if="${excludeSpecial==true}">
                            <input class="form-check-input" type="radio" name="isSymbols" id="isSymbols" value="false"  >
                            <label class="form-check-label" for="isSymbols"> Si </label>

                            <input class="form-check-input" type="radio" name="isSymbols" id="isSymbols" value="true" checked="checked">
                            <label class="form-check-label" for="isSymbols"> No </label>

                          </div >
                          </div>
                      </div>
                    </div>
                  </div>
              </div>
              <button type="submit" id="richiedi" class="btn btn-primary">Richiedi password</button>

              <div id="hideDiv" th:if="${generatedPassword}">
                <textarea class="form-control" rows="1" style="margin-top: 2%;" name="textToCopy" id="textToCopy" th:inline="text">[[${generatedPassword}]]</textarea>
                  <div class="progress" th:if="${#strings.length(generatedPassword) gt 8} and ${excludeNumbers} == false and ${excludeSpecial} == false ">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                  </div>
                  <div class="progress" th:if="${#strings.length(generatedPassword) gt 8} and ${excludeNumbers} == true and ${excludeSpecial} == true ">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
                  </div>
                  <div class="progress" th:if="${#strings.length(generatedPassword) gt 8} and ${excludeNumbers} == true and ${excludeSpecial} == false ">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
                  </div>
                  <div class="progress" th:if="${#strings.length(generatedPassword) gt 8} and ${excludeNumbers} == false and ${excludeSpecial} == true ">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
                  </div>
                <div class="progress" th:if="${#strings.length(generatedPassword) lt 8} and ${excludeNumbers} == false and ${excludeSpecial} == false ">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
                  </div>
                <div class="progress" th:if="${#strings.length(generatedPassword) lt 8} and ${excludeNumbers} == false and ${excludeSpecial} == true ">
                  <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
                </div>
                <div class="progress" th:if="${#strings.length(generatedPassword) lt 8} and ${excludeNumbers} == true and ${excludeSpecial} == false ">
                  <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
                </div>
                <div class="progress" th:if="${#strings.length(generatedPassword) lt 8} and ${excludeNumbers} == true and ${excludeSpecial} == true ">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%"></div>
                  </div>                    
                <button class="btn btn-primary btn-sm mt-2" th:onclick="copyText()" style="margin-top: 2%">Copia!</button>
              </div>

            </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script th:src="@{/js/pswScript.js}"></script>
  <script>
    const items = document.querySelectorAll('.nav-link');
    items.forEach(navItem => {
      navItem.classList.remove('active');
    });
    document.querySelector('#navItemPassword').classList.add('active');
  </script>


</html>